*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}


body{
    background: url(cover.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: fixed;
}


.navegacao{
    max-width: auto;
    min-height: 15vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: rgba(224, 79, 69, 0);
    
}

.logo{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.main{
    max-width: auto;
    height: 30vh;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

.apresentacao{
    width: 800px;
    height: 20vh;
    color: white;
    text-align: center;
}

.links-btn a{
    padding-left: 10px;
    color:white;
}

.links-btn a:hover{
    background:#87333b80;
    color: lightsalmon;
}

.tamanhoBtn{
    border: none;
    font-size: 32px;
    border-radius: 10px;
}

.teste{
    color: white;
}

.teste:hover{
    background-color:rgba(240, 248, 255, 0);
    color: #D84E44;
}

.sobre{
    max-width: auto;
    height: 550px;
    background-color: #15162A;
    display: flex;
    align-items:start;
    justify-content: center;
    text-align: center;
}

.sobre h1{
    margin-top: 15px;
}

.container-sobre{
    width: 800px;
    height: 300px;
    color: white;
}


.projetos{
    max-width: auto;
    height: 600px;
    background-color: #181a41;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container-projetos{
    width: 800px;
    height: 500px;
    color: white;
    margin-top: 15px;
}

.cards{
    max-width: auto;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card-teste{
    width: 256px;
    height: 256px;
    background-color: white;
    border-radius: 10px;
}

.card-teste{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}



.grow { 
    transition: all .2s ease-in-out; 
    }


.grow:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}


footer{
    background-color: #02091C;
    color: white;
    text-align: center;
}


.fade-in-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
    color: black;
    animation: fadeIn linear 2s;
    -webkit-animation: fadeIn linear 2s;
    -moz-animation: fadeIn linear 2s;
    -o-animation: fadeIn linear 2s;
    -ms-animation: fadeIn linear 2s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }



@media  (max-width:700px) and (orientation: portrait) {
    .main{
        height:300px
    }
    .logo{
        width: 100%;
    }
    .menu{
        display: none;
    }

    .apresentacao{
        max-width: 95%;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .container-sobre, .container-projetos{
        text-align: center;
        flex-direction: column;
    }

    .spotify{
        width: 80%;
    }

    .projetos{
        max-width: auto;
        height: 1150px;
        justify-content: flex-start;
    }
    .container-projetos{
        height: 900px;
        flex-direction: column;

    }
    .cards{
        height: 900px;
    }
}

